ADK_MODEL=gemini-3-flash-preview
SIGNED_URL_EXPIRATION_MINUTES=60
GOOGLE_CLOUD_LOCATION=global
GOOGLE_GENAI_USE_VERTEXAI=True

# Used for telemetry / GenAI prompt-response logging, and required for staging/deployment
LOGS_BUCKET_NAME=YOUR_LOGS_BUCKET_NAME

# Update these values
GOOGLE_CLOUD_PROJECT=YOUR_PROJECT_ID
VEO_GCS_BUCKET=YOUR_VEO_GCS_BUCKET
GOOGLE_DRIVE_FOLDER_ID=YOUR_GOOGLE_DRIVE_FOLDER_ID
