ADK_MODEL=gemini-3-flash-preview
GOOGLE_CLOUD_LOCATION=global
GOOGLE_CLOUD_PROJECT=YOUR_PROJECT_ID

# Used for telemetry / GenAI prompt-response logging, and required for staging/deployment
LOGS_BUCKET_NAME=YOUR_LOGS_BUCKET_NAME
