ADK_MODEL=gemini-3-flash-preview
GOOGLE_CLOUD_PROJECT=YOUR_PROJECT_ID
GOOGLE_CLOUD_LOCATION=global
GOOGLE_GENAI_USE_VERTEXAI=True
MARKET_RESEARCH_AGENT_URL=http://localhost:8002
ADK_AUTH_ID=YOUR_ADK_AUTH_ID
BQ_DATA_AGENT_PROJECT=YOUR_BQ_DATA_AGENT_PROJECT
BQ_DATA_AGENT_ID=YOUR_BQ_DATA_AGENT_ID
# BQ_DATA_AGENT_LOCATION=global
PRODUCT_STRATEGY_AGENT_URL=http://localhost:8001

# Used for telemetry / GenAI prompt-response logging, and required for staging/deployment
LOGS_BUCKET_NAME=YOUR_LOGS_BUCKET_NAME
